<app-header></app-header>

<main>
    <div *ngIf="showEmailSignInSuccessMessage" class="email-sign-in-success-msg">
        <span>Riceverai a breve una email con un link per confermare questo accesso</span>
    </div>
    <form [formGroup]="form" (submit)="onSubmit($event)">
        <div class="title">
            <h1>Accedi</h1>
            <p>
                Non hai ancora un account?
                <a routerLink="/signup">Registrati</a>
            </p>
        </div>
        <label>
            Email
            <input
                formControlName="email"

                type="email"
                name="email"
                autocomplete="email"
                required
            >
            <div class="errors">
                <p *ngFor="let error of form.get('email')?.errors?.errors">
                    {{ error.error }}
                </p>
            </div>
        </label>
        <button type="submit">
            Accedi
        </button>
    </form>
</main>
