<app-header></app-header>

<wallet-menu section="subscriptions"></wallet-menu>

<main>
    <section>
        <div class="title">
            <h1>Ricariche periodiche</h1>
            <button (click)="manageSubscriptions()">Gestisci</button>
        </div>
        <div class="content">
            <div *ngIf="!subscriptions">
                <spinner></spinner>
            </div>
            <div *ngIf="subscriptions">
                <subscription-list [subscriptions]="subscriptions.active"></subscription-list>
                <div *ngIf="subscriptions.incomplete.length > 0">
                    <h2>Inattive</h2>
                    <subscription-list [subscriptions]="subscriptions.incomplete"></subscription-list>
                </div>
                <div *ngIf="subscriptions.old.length > 0">
                    <h2>Vecchie</h2>
                    <subscription-list [subscriptions]="subscriptions.old"></subscription-list>
                </div>
            </div>
        </div>
    </section>
</main>
