<app-header></app-header>

<account-menu section="details"></account-menu>

<main>
    <section>
        <div class="title">
            <h1>Dettagli</h1>
        </div>
        <div *ngIf="auth.user" class="content details">
            <div>
                <h3>Nome</h3>
                <span>{{ auth.user.first_name }}</span>
            </div>
            <div>
                <h3>Cognome</h3>
                <span>{{ auth.user.last_name }}</span>
            </div>
            <div>
                <h3>Email</h3>
                <span>{{ auth.user.email }}</span>
            </div>
            <div>
                <h3>Data di nascita</h3>
                <span>{{ auth.user.birth_date | date:"longDate" }}</span>
            </div>
            <div>
                <h3>Codice Fiscale</h3>
                <span>{{ auth.user.fiscal_number }}</span>
            </div>
        </div>
    </section>
    <section>
        <div class="title">
            <h1>Elimina account</h1>
        </div>
        <div class="content">
            <div>
                <div class="disclaimer">
                    <h3>Se decidi di proseguire con l'eliminazione del tuo account:</h3>
                    <ul>
                        <li>
                            <b>Non potrai più recuperarne i dati</b>
                        </li>
                        <li>
                            <b>Qualsiasi importo di denaro attualmente nei tuoi portafogli non verrà restituito</b>
                        </li>
                    </ul>
                </div>
                <danger-button
                    text="Elimina"
                    alertText="Sei sicuro di voler eliminare il tuo account?"

                    (confirm)="deleteAccount()"
                ></danger-button>
            </div>
        </div>
    </section>
</main>
