@import "~src/variables";

@import "../account";

.details
{
    h3
    {
        margin: 0;
        margin-bottom: 0.5rem;
    }
}

.disclaimer
{
    h3
    {
        margin-top: 0;
        font-weight: $normal;
    }
}
