<app-header></app-header>

<main>
    <div class="hero">
        <h1>
            Evita l'auto.
            <br>
            Evita il traffico.
            <br>
            Aiuta il Paese.
        </h1>
        <p>
            Diventa parte della rivoluzione della micro-mobilità sostenibile.
        </p>
        <button id="spid-button">
            <img src="/assets/spid-icon.svg" alt="">
            Entra con SPID
        </button>
        <img src="/assets/environment.svg" alt="">
    </div>
</main>

<aside>
    <div class="spid-idp-list">
        <a
            *ngFor="let spidIdentityProvider of spidIdentityProviders"

            href="{{ spidSignInEndpoint }}/signin?idp={{ spidIdentityProvider.id }}"
            title="Entra con {{ spidIdentityProvider.name }}"
            class="button fill"
        >
            <img
                src="https://italia.github.io/spid-smart-button/img/idp-logos/spid-idp-{{ spidIdentityProvider.imageName }}.svg"
                alt="{{ spidIdentityProvider.name }}"
            >
        </a>
    </div>
</aside>