<app-header></app-header>

<wallet-menu section="details"></wallet-menu>

<main>
    <section>
        <div class="title">
            <h1>Ricarica il portafoglio</h1>
        </div>
        <div class="content">
            <form [formGroup]="form" (submit)="onSubmit($event)">
                <label>
                    Importo
                    <input
                        formControlName="amount"

                        type="number"
                        name="amount"
                        required
                    >
                    <div class="errors">
                        <p *ngFor="let error of form.get('amount')?.errors?.errors">
                            {{ error.error }}
                        </p>
                    </div>
                </label>
                <!-- TODO -->
                <label class="checkbox">
                    Rendi questa ricarica mensile
                    <input type="checkbox">
                </label>
                <button type="submit" [class.loading]="isLoading" [disabled]="isLoading">
                    Conferma
                </button>
                <div class="errors">
                    <p *ngFor="let error of form.get('wallet')?.errors?.errors">
                        {{ error.error }}
                    </p>
                </div>
            </form>
        </div>
    </section>
</main>
