:host
{
    display: block;
    grid-area: header;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

header
{
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    gap: 1em;

    a:first-child
    {
        color: var(--secondary-color);
        font-size: 2em;
        width: max-content;
    }
}
