:host
{
    display: block;
    grid-area: header;
    padding: 1em;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;

    &[theme=light]
    {
        background-color: var(--primary-color);
    }
}

header
{
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-areas: "logo menu-button";
    align-items: center;
    gap: 1em;

    a
    {
        grid-area: logo;
        color: var(--primary-color);
        font-size: 2em;
        width: max-content;

        &.dark
        {
            color: var(--secondary-color);
        }
    }

    form
    {
        grid-area: search-form;
        max-width: unset;

        input
        {
            width: 100%;
        }
    }

    button
    {
        grid-area: menu-button;
    }

    &.search-visible
    {
        grid-template-columns: auto max-content max-content;
        grid-template-areas: "logo search-form menu-button";
    }
}

nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1em;
    margin-top: 1em;
}

@media (max-width: 650px)
{
    header.search-visible
    {
        grid-template-columns: auto min-content;
        grid-template-areas:
            "logo menu-button"
            "search-form search-form";
    }
}
