<header [class.search-visible]="auth.user">
    <a routerLink="">
        scootr
    </a>
    <form
        *ngIf="auth.user"

        (submit)="$event.preventDefault(); search.emit(searchInput.value)"
    >
        <input
            #searchInput

            type="text"
            placeholder="Cerca un posto"
        >
    </form>
    <button *ngIf="auth.user" (click)="showNav = !showNav">
        &#8942;
    </button>
</header>

<nav *ngIf="showNav">
    <button routerLink="/settings">
        Impostazioni
    </button>
    <button (click)="auth.signOut()">
        Esci
    </button>
</nav>
