<header [class.dark]="theme === 'light'" [class.search-visible]="auth.user && router.url === '/'">
    <a routerLink="" [class.dark]="theme === 'light'">
        scootr
    </a>
    <form
        *ngIf="auth.user && router.url === '/'"

        (submit)="$event.preventDefault(); search.emit(searchInput.value)"
    >
        <input
            #searchInput

            type="text"
            placeholder="Cerca un posto"
            [class.dark]="theme === 'light'"
        >
    </form>
    <button *ngIf="auth.user" [class.dark]="theme === 'light'" (click)="showNav = !showNav">
        &#8942;
    </button>
</header>

<nav *ngIf="showNav">
    <a routerLink="/account" class="button" [class.dark]="theme === 'light'">
        Account
    </a>
    <button [class.dark]="theme === 'light'" (click)="auth.signOut()">
        Esci
    </button>
</nav>
