<app-header theme="light"></app-header>

<settings-menu section="details"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>Dettagli</h1>
        </div>
        <div *ngIf="auth.user" class="content details">
            <div>
                <h3>Nome</h3>
                <span>{{ auth.user.first_name }}</span>
            </div>
            <div>
                <h3>Cognome</h3>
                <span>{{ auth.user.last_name }}</span>
            </div>
            <div>
                <h3>Email</h3>
                <span>{{ auth.user.email }}</span>
            </div>
            <div>
                <h3>Data di nascita</h3>
                <span>{{ auth.user.birth_date | date:"longDate" }}</span>
            </div>
            <div>
                <h3>Codice Fiscale</h3>
                <span>{{ auth.user.fiscal_number }}</span>
            </div>
        </div>
    </section>
</main>
