<app-header theme="dark" (search)="searchPlace($event)"></app-header>

<main>
    <div *ngIf="!canUseGeolocation" class="map-msg">
        <span>Il tuo dispositivo non supporta la funzione di geolocalizzazione</span>
    </div>
    <div *ngIf="!hasGrantedGeolocationPermission" class="map-msg">
        <span>Per poter vedere i mezzi nelle tue vicinanze è necessario permettere l'accesso alla tua posizione attuale</span>
    </div>
    <div *ngIf="activeRide" class="active-ride-info">
        <span>Corsa attiva</span>
        <br>
        <span class="time">{{ activeRideTimeString }}</span>
        <br>
        <b class="estimated-cost">{{ activeRideEstimatedCost | currency:"EUR"}}</b>
        <small class="disclaimer">
            <i>Questi dati sono approssimativi e non rispecchiano necessariamente la realtà</i>
        </small>
    </div>
    <div id="map"></div>
</main>

<footer>
    <button
        *ngIf="activeRide"

        title="Termina corsa"
        class="dark danger"

        (click)="endRide()"
    >
        <span class="mat-icon">stop</span>
    </button>
    <a
        *ngIf="!activeRide"

        routerLink="scan"

        title="Scansiona codice QR"
        class="button dark"
    >
        <span class="mat-icon">qr_code_scanner</span>
    </a>
    <button title="Vai alla posizione attuale" class="dark" (click)="setMapCenter()">
        <span class="mat-icon">place</span>
    </button>
</footer>
