<app-header theme="dark" (search)="searchPlace($event)"></app-header>

<main>
    <div *ngIf="!canUseGeolocation" class="map-msg">
        <span>Il tuo dispositivo non supporta la funzione di geolocalizzazione</span>
    </div>
    <div *ngIf="!hasGrantedGeolocationPermission" class="map-msg">
        <span>Per poter vedere i mezzi nelle tue vicinanze è necessario permettere l'accesso alla tua posizione attuale</span>
    </div>
    <div *ngIf="activeRide || true" class="active-ride-info">
        <b class="time">
            00:00
        </b>
        <small class="estimated-cost">
            1,20 €
        </small>
    </div>
    <div id="map"></div>
</main>

<footer>
    <a routerLink="scan" title="Scansiona codice QR" class="button dark">
        <span class="mat-icon">qr_code_scanner</span>
    </a>
    <button title="Vai alla posizione attuale" class="dark" (click)="setMapCenter()">
        <span class="mat-icon">place</span>
    </button>
</footer>
