<app-header></app-header>

<wallet-menu section="transactions"></wallet-menu>

<main>
    <section>
        <div class="title">
            <h1>Storico transazioni</h1>
        </div>
        <div class="content">
            <div *ngIf="!transactions">
                <spinner></spinner>
            </div>
            <div *ngIf="transactions" class="list">
                <div *ngIf="transactions.length === 0">
                    <p>Non hai ancora effettuato nessuna transazione</p>
                </div>
                <div *ngFor="let transaction of transactions">
                    <p>
                        <span class="mat-icon">schedule</span>
                        {{ transaction.timestamp | date:"medium" }}
                    </p>
                    <p>
                        <span class="mat-icon">paid</span>
                        <span [class.negative]="transaction.amount < 0">
                            {{ transaction.amount | currency:"EUR" }}
                        </span>
                    </p>
                    <p>
                        <span class="mat-icon">help_outline</span>
                        <span [ngSwitch]="transaction.reason">
                            <span *ngSwitchCase="'restore-balance'">Ripristinato saldo precedente</span>
                            <span *ngSwitchCase="'ride'">
                                <a routerLink="/account/rides/{{ transaction.external_id }}" class="dark">
                                    Corsa
                                    <span class="mat-icon">open_in_new</span>
                                </a>
                            </span>
                            <span *ngSwitchCase="'subscription'">Ricarica periodica</span>
                            <span *ngSwitchCase="'top-up'">Accredito</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
