<aside>
    <section>
        <div class="title"></div>
        <div class="content">
            <a
                routerLink="/settings/details"
                [class.selected]="section === 'details'"
            >
                Dettagli
            </a>
            <a
                routerLink="/settings/advanced"
                [class.selected]="section === 'advanced'"
            >
                Avanzate
            </a>
            <a
                routerLink="/settings/wallets"
                [class.selected]="section === 'wallets'"
            >
                Portafogli
            </a>
        </div>
    </section>
</aside>
