@import "../../../settings";

.list
{
    p
    {
        display: flex;
        align-items: center;
        gap: 1rem;

        > .mat-icon
        {
            font-size: 1.2rem;
        }

        .negative
        {
            color: red;
        }

        a
        {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}
