<app-header theme="dark"></app-header>

<main>
    <div *ngIf="!hasCamera" class="no-camera-message">
        <span>
            Non è stato possibile rilevare una fotocamera con cui scansionare.
            <br>
            Se il tuo dispositivo è munito di fotocamera questo potrebbe essere
            dovuto al mancato consenso per il suo utilizzo.
            <br>
            Controlla le impostazioni del tuo browser e accertati che l'accesso
            alla fotocamera sia consentito.
        </span>
    </div>
    <video #video hidden></video>
    <canvas #canvas></canvas>
</main>

<div class="wallet-picker-container">
    <div class="wallet-picker">
        <h1>Scegli il portafoglio</h1>
        <spinner *ngIf="!wallets"></spinner>
        <div *ngIf="wallets" class="list">
            <div *ngFor="let wallet of wallets">
                {{ wallet.name }}
            </div>
        </div>
    </div>
</div>
