<app-header></app-header>

<account-menu section="rides"></account-menu>

<main>
    <section>
        <div class="title">
            <h1>Corse</h1>
        </div>
        <div class="content">
            <div *ngIf="!rides">
                <spinner></spinner>
            </div>
            <div *ngIf="rides" class="list">
                <div *ngIf="rides.length === 0">
                    <p>Non hai ancora fatto nessuna corsa</p>
                </div>
                <div *ngFor="let ride of rides">
                    <a routerLink="{{ ride.id }}">
                        {{ ride }}
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
