<app-header></app-header>

<account-menu section="rides"></account-menu>

<main>
    <section>
        <div class="title">
            <h1>Corse</h1>
        </div>
        <div class="content">
            <div *ngIf="!rides">
                <spinner></spinner>
            </div>
            <div *ngIf="rides" class="list">
                <div *ngIf="rides.length === 0">
                    <p>Non hai ancora fatto nessuna corsa</p>
                </div>
                <a *ngFor="let ride of rides" routerLink="{{ ride.id }}">
                    <p>
                        Iniziata
                        <span>{{ ride.start_time | date:"medium" }}</span>
                    </p>
                    <p *ngIf="!ride.end_time">
                        <i>In corso</i>
                    </p>
                    <p *ngIf="ride.end_time">
                        Conclusa
                        <span>{{ ride.end_time | date:"medium" }}</span>
                    </p>
                    <p *ngIf="ride.amount">
                        Costo
                        <span>{{ ride.amount | currency:"EUR" }}</span>
                    </p>
                </a>
            </div>
        </div>
    </section>
</main>
