<aside>
    <section>
        <div class="title"></div>
        <div class="content">
            <a
                routerLink="/account/rides/{{ rideId }}/details"
                [class.selected]="section === 'details'"
            >
                Dettagli
            </a>
            <a
                routerLink="/account/rides/{{ rideId }}/map"
                [class.selected]="section === 'map'"
            >
                Mappa
            </a>
        </div>
    </section>
</aside>
