<app-header></app-header>

<wallet-menu section="details"></wallet-menu>

<main>
    <section>
        <div class="title">
            <h1>Dettagli</h1>
        </div>
        <div class="content">
            <form [formGroup]="form" (submit)="onSubmit($event)">
                <label>
                    Nome
                    <input
                        formControlName="name"

                        type="text"
                        name="name"
                        required
                    >
                    <div class="errors">
                        <p *ngFor="let error of form.get('name')?.errors?.errors">
                            {{ error.error }}
                        </p>
                    </div>
                </label>
                <button type="submit">
                    Aggiorna
                </button>
            </form>
        </div>
    </section>
    <section>
        <div class="title">
            <h1>Saldo</h1>
            <a routerLink="add-funds" class="button">
                Ricarica
            </a>
        </div>
        <div *ngIf="wallet" class="content">
            <span class="balance">
                <b>{{ wallet.balance }}</b>
                &euro;
            </span>
        </div>
    </section>
</main>
