<app-header></app-header>

<account-menu section="settings/advanced"></account-menu>

<main>
    <section>
        <div class="title">
            <h1>Esporta dati</h1>
        </div>
        <div class="content">
            <div>
                <span>Esporta tutti i dati relativi al tuo account in nostro possesso</span>
                <button class="export-data-button" (click)="false">
                    Comincia
                </button>
            </div>
        </div>
    </section>
    <section>
        <div class="title">
            <h1>Elimina account</h1>
        </div>
        <div class="content">
            <div>
                <div class="disclaimer">
                    <h3>Se decidi di proseguire con l'eliminazione del tuo account:</h3>
                    <ul>
                        <li>
                            <b>Non potrai più recuperarne i dati</b>
                        </li>
                        <li>
                            <b>Qualsiasi importo di denaro attualmente nei tuoi portafogli non verrà restituito</b>
                        </li>
                    </ul>
                </div>
                <danger-button
                    text="Elimina"
                    alertText="Sei sicuro di voler eliminare il tuo account?"

                    (confirm)="deleteAccount()"
                ></danger-button>
            </div>
        </div>
    </section>
</main>
