.hero
{
    h1
    {
        font-size: 5em;
    }

    span
    {
        font-size: 1.5em;
    }

    img
    {
        position: absolute;
        z-index: -1;
        opacity: 0.5;
        right: 0;
        bottom: 0;
        transform: rotateY(180deg);
        padding-right: 1rem;
    }
}
